##################################################
### This gitignore file serves as a way to only ##
### track specified configuration files which   ##
### are needed nvim personal development config ##
##################################################

# Exclude everything unless explicity included with ! notation
*

##################################################
### HERE STARTS THE LIST FOR FILES TO BE TRACKED #
##################################################

# > p10k config for zsh shell appearence
!.p10k.zsh

# > wezterm terminal configuration
!.wezterm.lua

##################################################
### HERE STOPS THE LIST FOR FILES TO BE TRACKED ##
##################################################
